@tailwind base;
@tailwind components;
@tailwind utilities;
/* body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFE;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
    /* font-family: 'Kanit', sans-serif;
font-family: 'Nunito Sans', sans-serif;
} */ 
